$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

$line-height-base:        1.428571429 !default; // 20/14

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$tooltip-opacity:             .9 !default;
$tooltip-arrow-width:         5px !default;
$tooltip-max-width:           200px !default;
$tooltip-color:               #fff !default;
$tooltip-bg:                  #000 !default;
$tooltip-arrow-color:         $tooltip-bg !default;

$popover-bg:                          #fff !default;
$popover-max-width:                   276px !default;
$popover-border-color:                rgba(0,0,0,.2) !default;
$popover-fallback-border-color:       #ccc !default;
$popover-title-bg:                    darken($popover-bg, 3%) !default;
$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 $popover-bg !default;
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;


$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

@import "mixins/box-shadow";
@import "mixins/reset-text";
@import "mixins/opacity";
@import "tooltip";
@import "popovers";