<div class="arrow"></div>
<h3 class="popover-title">
	{{#if title}}{{title}}{{/if}}
	<a class="close" href="">X</a>
</h3>
{{#if content}}<div class="popover-content">{{{content}}}</div>{{/if}}
<div class="popover-footer">
	<a class="prev" href="">&lt;</a>
	{{#if gotIt}}
	<a class="got-it" href="">{{gotIt}}</a>
	{{else}}
	<a class="next" href="javascript:void(0);">&gt;</a>
	{{/if}}
</div>
