<div class="arrow"></div>
<h3 class="popover-title">
	{{#if title}}{{title}}{{/if}}
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
</h3>
{{#if content}}<div class="popover-content">{{{content}}}</div>{{/if}}
<div class="popover-footer">
	<button type="button" class="btn btn-default btn-xs prev">&lt;</button>
	{{#if gotIt}}
	<button type="button" class="btn btn-default btn-xs git-it">{{gotIt}}</button>
	{{else}}
	<button type="button" class="btn btn-primary btn-xs next">&gt;</button>
	{{/if}}
</div>
